<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{include/layout}">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>Connect Caffeine</title>
<meta content="" name="description">
<meta content="" name="keywords">
<style>
.card-body-header {
	display: flex;
	justify-content: space-between;
}

.basic-info {
	display: flex;
	width: 100%;
}

.sub-sidebar {
	width: 250px;
	background-color: #fff;
	padding: 20px;
	font-size: 15px;
	font-weight: 600;
	color: #012970;
}

.subside_title {
	font-size: 25px;
}

table td, table th {
	vertical-align: middle;
}
</style>
</head>
<body>
	<th:block layout:fragment="content">
		<main id="main" class="main">
			<div class="sub-sidebar" id="sub-sidebar">
				<span class="subside_title">인사 관리</span><br> <br>
				<h5>
					<a th:href="@{/employeeList}" style="color: inherit;">사원 정보</a>
				</h5>
				<h5>
					<a th:href="@{/empGroupList}" style="color: inherit;">팀 정보</a>
				</h5>
			</div>
			<section class="section dashboard" style="width: calc(100% - 250px);">
				<div class="col-xxl-4 col-md-6" style="width: 100%;">
					<div class="card info-card sales-card"
						style="margin-top: 25px; margin-left: 25px;">
						<div class="card-body">
							<div class="card-body-header">
								<h2 class="card-title">
									<b th:text="${egDto.group_level == 'G1' ? '부서 정보' : '팀 정보'}"></b>
								</h2>
							</div>
							<hr>
							<form id="groupDeleteFrm" method="POST">
								<input type="hidden" id="_csrf" name="_csrf"
									th:value="${_csrf.token}" /> <input type=hidden id="group_no"
									name="group_no" th:value="${egDto.group_no}">
								<div class="basic-info">
									<!-- 첫 번째 테이블: 그룹 레벨이 부서(G1)일 때 -->
									<div id="case1" th:if="${egDto.group_level == 'G1'}">
										<!-- 상위 부서, 위치 정보 필요 없으므로 hidden 처리 -->
										<input type="hidden" name="parent_group" id="parent_group"
													th:value="${egDto.group_parent_no}">
										<input type="hidden" name="group_location" id="group_location"
													th:value="${egDto.group_location}">
										<table class="table table-bordered">
											<colgroup>
												<col style="width: 40%;">
												<col style="width: 60%;">
											</colgroup>
											<tr>
												<th>부서명</th>
												<td th:text="${deptOri}" id="group_name"
													th:value="${deptOri}"></td>
											</tr>
											<tr>
												<th>인원</th>
												<td th:text="${deptHeadcount}" id="group_headcount"
													th:value="${deptHeadcount}"></td>
											</tr>
											<tr>
												<th>그룹 설명</th>
												<td th:text="${egDto.group_explain}" id="group_explain"
													th:value="${egDto.group_explain}"></td>
											</tr>
											<tr>
												<th>책임자</th>
												<td th:text="${leaderName}" id="group_leader"
													th:value="${egDto.group_leader_code}"></td>
											</tr>
											<tr>
												<th>책임자 연락처</th>
												<td th:text="${leaderDeskPhone}"
													id="group_leader_desk_phone"></td>
											</tr>
										</table>
										<div class="d-flex align-items-center"
											style="display: flex; justify-content: flex-end;">
											<a
												th:href="@{/empGroupUpdate/{group_no}(group_no=${egDto.group_no})}">
												<button type="button" class="btn btn-primary rounded-pill">수정</button>
											</a>
											<button type="button" class="btn btn-secondary rounded-pill"
												onclick="confirmDeptDelete()" style="margin-left: 10px;">삭제</button>
										</div>
									</div>
									<!-- 두 번째 테이블: 그룹 레벨이 팀(G2)일 때 -->
									<div id="case2" th:if="${egDto.group_level == 'G2'}">
										<table class="table table-bordered">
											<colgroup>
												<col style="width: 40%;">
												<col style="width: 60%;">
											</colgroup>
											<tr>
												<th>팀명</th>
												<td><span th:text="${egDto.group_name}"></span> <input
													type="hidden" name="group_name" id="group_name"
													th:value="${egDto.group_name}"></td>
											</tr>
											<tr>
												<th>인원</th>
												<td><span th:text="${egDto.group_headcount}"></span> <input
													type="hidden" name="group_headcount" id="group_headcount"
													th:value="${egDto.group_headcount}"></td>
											</tr>
											<tr>
												<th>상위 부서</th>
												<td><span th:text="${parentDeptName}"></span> <input
													type="hidden" name="parent_group" id="parent_group"
													th:value="${egDto.group_parent_no}"></td>
											</tr>
											<tr>
												<th>위치</th>
												<td><span th:text="${egDto.group_location}"></span> <input
													type="hidden" name="group_location" id="group_location"
													th:field="*{egDto.group_location}"></td>
											</tr>
											<tr>
												<th>그룹 설명</th>
												<td><span th:text="${egDto.group_explain}"></span> <input
													type="hidden" name="group_explain" id="group_explain"
													th:value="${egDto.group_explain}"></td>
											</tr>
											<tr>
												<th>책임자</th>
												<td><span th:text="${leaderName}"></span> <input
													type="hidden" name="group_leader" id="group_leader"
													th:value="${egDto.group_leader_code}"></td>
											</tr>
											<tr>
												<th>책임자 연락처</th>
												<td><span th:text="${leaderDeskPhone}"></span> <input
													type="hidden" name="group_leader_desk_phone"
													id="group_leader_desk_phone" th:value="${leaderDeskPhone}">
												</td>
											</tr>
										</table>
										<div class="d-flex align-items-center"
											style="display: flex; justify-content: flex-end;">
											<a
												th:href="@{/empGroupUpdate/{group_no}(group_no=${egDto.group_no})}">
												<button type="button" class="btn btn-primary rounded-pill">수정</button>
											</a>
											<button type="button" class="btn btn-secondary rounded-pill"
												onclick="confirmTeamDelete()" style="margin-left: 10px;">삭제</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
		</main>
		<!-- End #main -->
		<script>
		// 1. 부서 수정
		function confirmDeptDelete() {
		    if (!confirm("부서 삭제 시 하위 팀 정보도 함께 삭제됩니다. 부서 정보를 정말 삭제하시겠습니까?")) {
		        return;
		    }
		    
			const form = document.getElementById("groupDeleteFrm");
	
			
			// 입력 값 가져오기
			const groupNo = document.getElementById("group_no").value;
			const groupName = document.getElementById("group_name").value;
			const groupHeadcount = document.getElementById("group_headcount").value;
			const parentGroup = document.getElementById("parent_group").value;
			const groupLocation = document.getElementById("group_location").value;
			const groupExplain = document.getElementById("group_explain").value;
			const groupLeaderCode = document.getElementById("group_leader").value;
		
			
			// 객체에 담아 보내기
			const obj = {
					group_no : groupNo,
					group_name : groupName,
					group_headcount : groupHeadcount,
					group_parent_no : parentGroup,
					group_location : groupLocation,
					group_explain : groupExplain,
					group_leader_code : groupLeaderCode,
					group_status : 'N',
					group_level : 'G2'
			};
			
			const csrfToken = document.getElementById("_csrf").value;
	
		        fetch('/empDeptDelete/'+ groupNo, {
		            method: 'POST',
		            headers: {
		                'Content-Type': 'application/json;charset=utf-8',
		                "Accept": "application/json",
		                'X-CSRF-TOKEN': csrfToken
		                
		            },
		            body: JSON.stringify(obj)
		        })
		        .then(response => response.json())
		        .then(data => {
		            if (data.res_code === '200') {
		                Swal.fire({
		                    icon: 'success',
		                    title: '성공',
		                    text: data.res_msg,
		                    confirmButtonText: "닫기"
		                }).then((result) => {
		                    location.href = "/empGroupList";
		                });
		            } else {
		                Swal.fire({
		                    icon: 'error',
		                    title: '실패',
		                    text: data.res_msg,
		                    confirmButtonText: "닫기"
		                });
		            }
		        });
	        
		}
		
		
		// 2. 팀 수정
		function confirmTeamDelete() {
		    if (!confirm("팀 삭제 시 소속 사원 정보도 함께 삭제됩니다. 팀 정보를 정말 삭제하시겠습니까?")) {
		        return;
		    }
		    
			const form = document.getElementById("groupDeleteFrm");
	
			
			// 입력 값 가져오기
			const groupNo = document.getElementById("group_no").value;
			const groupName = document.getElementById("group_name").value;
			const groupHeadcount = document.getElementById("group_headcount").value;
			const parentGroup = document.getElementById("parent_group").value;
			const groupLocation = document.getElementById("group_location").value;
			const groupExplain = document.getElementById("group_explain").value;
			const groupLeaderCode = document.getElementById("group_leader").value;
		
			
			// 객체에 담아 보내기
			const obj = {
					group_no : groupNo,
					group_name : groupName,
					group_headcount : groupHeadcount,
					group_parent_no : parentGroup,
					group_location : groupLocation,
					group_explain : groupExplain,
					group_leader_code : groupLeaderCode,
					group_status : 'N',
					group_level : 'G2'
			};
			
			const csrfToken = document.getElementById("_csrf").value;
	
		        fetch('/empTeamDelete/'+ groupNo, {
		            method: 'POST',
		            headers: {
		                'Content-Type': 'application/json;charset=utf-8',
		                "Accept": "application/json",
		                'X-CSRF-TOKEN': csrfToken
		                
		            },
		            body: JSON.stringify(obj)
		        })
		        .then(response => response.json())
		        .then(data => {
		            if (data.res_code === '200') {
		                Swal.fire({
		                    icon: 'success',
		                    title: '성공',
		                    text: data.res_msg,
		                    confirmButtonText: "닫기"
		                }).then((result) => {
		                    location.href = "/empGroupList";
		                });
		            } else {
		                Swal.fire({
		                    icon: 'error',
		                    title: '실패',
		                    text: data.res_msg,
		                    confirmButtonText: "닫기"
		                });
		            }
		        });
			}
		
	</script>
	</th:block>
	<!-- ======= Footer ======= -->
	<footer id="footer" class="footer">
		<div class="copyright">
			&copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights
			Reserved
		</div>
		<div class="credits">
			All the links in the footer should remain intact. You can delete the
			links only if you purchased the pro version. Licensing information:
			https://bootstrapmade.com/license/ Purchase the pro version with
			working PHP/AJAX contact form:
			https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
			Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
		</div>
		-->
	</footer>
	<!-- End Footer -->
	<a href="#"
		class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>
	<!-- Vendor JS Files -->
	<script src="/bootstrap/vendor/apexcharts/apexcharts.min.js"></script>
	<script src="/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/bootstrap/vendor/chart.js/chart.umd.js"></script>
	<script src="/bootstrap/vendor/echarts/echarts.min.js"></script>
	<script src="/bootstrap/vendor/quill/quill.js"></script>
	<script src="/bootstrap/vendor/simple-datatables/simple-datatables.js"></script>
	<script src="/bootstrap/vendor/tinymce/tinymce.min.js"></script>
	<script src="/bootstrap/vendor/php-email-form/validate.js"></script>
	<!-- Template Main JS File -->
	<script src="/bootstrap/js/main.js"></script>
</body>
</html>