<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{include/layout}">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/approval/tempStorage.css}" rel="stylesheet" type="text/css">
    <title>임시저장 문서함</title>
    <script src="http://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <th:block layout:fragment="content">
    <main id="main" class="main">
        <!-- 사이드바 -->
        <i class="bi bi-list toggle-sidebar-btn"></i>
        <aside id="apprSidebar" class="apprSidebar">
            <div class="pagetitle">
      			<h1>전자결재</h1>
    		</div>
            <ul class="sidebar-nav" id="sidebar-nav">
      		<li class="nav-item">
        		<a class="nav-link collapsed" data-bs-target="#components-nav_one" data-bs-toggle="collapse" href="#">
          			<i class="bi bi-journals"></i><span>결재</span><i class="bi bi-chevron-down ms-auto"></i>
        		</a>
        			<ul id="components-nav_one" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          				<li>
            				<a th:href="@{/standByDraft}">
              					<i class="bi bi-circle"></i><span>결재 대기 문서</span>
            				</a>
          				</li>
          				<li>
            				<a th:href="@{/receiveDraft}">
              					<i class="bi bi-circle"></i><span>결재 수신 문서</span>
            				</a>
          				</li>
        			</ul>
      		</li>
      		<li class="nav-item">
        		<a class="nav-link collapsed" data-bs-target="#components-nav_two" data-bs-toggle="collapse" href="#">
          			<i class="bi bi-folder2-open"></i><span>개인 문서함</span><i class="bi bi-chevron-down ms-auto"></i>
        		</a>
        			<ul id="components-nav_two" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          				<li>
            				<a th:href="@{/draftStorage}">
              					<i class="bi bi-circle"></i><span>기안 문서함</span>
            				</a>
          				</li>
          				<li>
            				<a th:href="@{/apprStorage}">
              					<i class="bi bi-circle"></i><span>결재 문서함</span>
            				</a>
          				</li>
          				<li>
            				<a th:href="@{/referenceStorage}">
              					<i class="bi bi-circle"></i><span>참조 문서함</span>
            				</a>
          				</li>
          				<li>
            				<a th:href="@{/apprTempStorage}">
              					<i class="bi bi-circle"></i><span>임시 저장함</span>
            				</a>
          				</li>
        			</ul>
        		<a class="nav-link collapsed" data-bs-target="#components-nav"  href="#">
          			<i class="bi bi-gear"></i><span>전자 결재 환경 설정</span>
        		</a>
      		</li>
      	</ul>
        </aside>
     </main>
        <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">임시저장함</h5>
            
              

              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th>순번</th>
                    <th>결재양식</th>
                    <th>제목</th>
                    
                  </tr>
                </thead>
                <tbody>
    				<tr th:each="temp, iterStat : ${tempDtoList}" th:onclick="|location.href='@{/temporaryStorage/{no}(no=${temp.tem_no})}'|">
						<td th:text="${iterStat.index + 1}"></td>
        				<!-- <td th:text="${temp.apprForm.appr_form_no}"></td> -->
        				<td th:text="${temp.formName}"></td>
        				<td th:text="${temp.appr_title}"></td>
        				<!-- <td th:text="${temp.appr_content}"></td> -->
        				<!-- <td th:text="${temp.apprStatus}"></td> -->
    				</tr>
				</tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>
        </th:block>
</body>
</html>