<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{include/layout}">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/approval/mainHome.css}" rel="stylesheet" type="text/css">
<title>전자결재</title>
</head>
<body>
	<th:block layout:fragment="content">
	<main id="main" class="main">
	<!-- 사이드바 -->
	<i class="bi bi-list toggle-sidebar-btn"></i>
	 <aside id="apprSidebar" class="apprSidebar">
	 	<div class="pagetitle">
      		<h1>전자결재</h1>
    	</div>
    	<ul class="sidebar-nav" id="sidebar-nav">
      		<li class="nav-item">
        		<a class="nav-link collapsed" data-bs-target="#components-nav_one" data-bs-toggle="collapse" href="#">
          			<i class="bi bi-journals"></i><span>결재</span><i class="bi bi-chevron-down ms-auto"></i>
        		</a>
        			<ul id="components-nav_one" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          				<li>
            				<a href="components-alerts.html">
              					<i class="bi bi-circle"></i><span>결재 대기 문서</span>
            				</a>
          				</li>
          				<li>
            				<a href="components-accordion.html">
              					<i class="bi bi-circle"></i><span>결재 수신 문서</span>
            				</a>
          				</li>
        			</ul>
      		</li>
      		<li class="nav-item">
        		<a class="nav-link collapsed" data-bs-target="#components-nav_two" data-bs-toggle="collapse" href="#">
          			<i class="bi bi-folder2-open"></i><span>개인 문서함</span><i class="bi bi-chevron-down ms-auto"></i>
        		</a>
        			<ul id="components-nav_two" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          				<li>
            				<a href="components-alerts.html">
              					<i class="bi bi-circle"></i><span>기안 문서함</span>
            				</a>
          				</li>
          				<li>
            				<a href="components-accordion.html">
              					<i class="bi bi-circle"></i><span>결재 문서함</span>
            				</a>
          				</li>
          				<li>
            				<a href="components-accordion.html">
              					<i class="bi bi-circle"></i><span>참조 문서함</span>
            				</a>
          				</li>
          				<li>
            				<a th:href="@{/apprTempStorage}">
              					<i class="bi bi-circle"></i><span>임시 저장함</span>
            				</a>
          				</li>
        			</ul>
        		<a class="nav-link collapsed" data-bs-target="#components-nav"  href="#">
          			<i class="bi bi-gear"></i><span>전자 결재 환경 설정</span>
        		</a>
      		</li>
      	</ul>
     </aside>
     
     <!-- 메인콘텐츠 -->
  
     <main id="main" class="main">
	<div class="content-area">
  	<!-- <div class="pagetitle">
      <h1>전자결재</h1>
    </div> -->
     <div class="card">
     	<div class="card-body">
        	<h5 class="card-title">새 결재 진행</h5>
            	<div class="button-group">
					<a class="btn btn-outline-info" th:href="@{'/createDraft?formNo=1'}">휴가신청서</a>   	
					<a class="btn btn-outline-info" th:href="@{'/createDraft?formNo=2'}">사유서</a>  
					<a class="btn btn-outline-info" th:href="@{'/createDraft?formNo=3'}">품의서</a>  
     			</div>
     	</div>
 
 		<div class="card-body">
        	<h5 class="card-title">기안 진행 문서</h5>
              <!-- Default Table -->
            	<table class="table">
                	<thead>
                  	<tr>
                    	<th scope="col">순번</th>
                    	<th scope="col">기안일</th>
                    	<th scope="col">결재양식</th>
                    	<th scope="col">제목</th>
                    	<th scope="col">결재상태</th>
                  	</tr>
                </thead>
                <tbody>
                	<!-- <th:block th:if="${#lists.isEmpty(resultList.content)}">
							<tr>
								<td colspan="5">해당하는 내용이 없습니다.</td>
							</tr>
						</th:block>
						 -->
					<tr th:each="appr, iterStat : ${apprDtoList}" th:onclick="|location.href='@{/approval/{no}(no=${appr.appr_no})}'|">
						<td th:text="${iterStat.index + 1}"></td>
						<td th:text="${#temporals.format(appr.draft_day, 'yyyy-MM-dd')}">기안일</td>
						<td th:text="${appr.formName}"></td>
						<td th:text="${appr.appr_title}"></td>
						<td th:text="${appr.getApprStateDisplay()}"></td>
					</tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
     </main>
</main>
</th:block>
</body>
</html>