<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{include/layout}">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/approval/create.css}" rel="stylesheet" type="text/css">
<title>품의서 작성</title>
</head>
<body>
	<th:block layout:fragment="content">
	<main id="main" class="main">
	<div class="approval-form">
    <div class="form-header">
        <h2>품의서</h2>
        <button class="btn-primary">결재선 지정</button>
        <button class="btn-secondary">임시 저장</button>
        <button class="btn-secondary">상신</button>
        <button class="btn-secondary">취소</button>
    </div>

    <div class="form-section">
    	<ul>
    	<li>
		<table class="form-group">
			<tr>
				<td>문서번호</td>
				<!-- <td th:text="${dto?.appr_docu_no}"></td> -->
			</tr>
			<tr>
				<td>팀명</td>
				<!-- <td th:text="${dto.group_name}"></td> -->
			</tr>
			<tr>
				<td>기안일</td>
				<!-- <td th:text="${#dates.format(dto?.draft_day ?: T(java.time.LocalDateTime).now(), 'yyyy-MM-dd HH:mm')}"></td> -->
			</tr>
			<tr>
				<td>기안자</td>
				<!-- <td th:text="${dto?.emp_name}"></td> -->
			</tr>
		</table>
		</li>
		</ul>
    <div class="form-section">
        <table>
        	<tr>
        		<td>결재</td>
        		<!-- <td th:text="${dto.group_name}"></td>
        		<td th:text="${dto.group_name}"></td> -->
        	</tr>
        	<tr>
        		<td>서명</td>
        	</tr>
        	<tr>
        		<!-- <td th:text="${dto?.emp_name}"></td> -->
        	</tr>
        </table>
        <table>
        	<tr>
        		<td>참조</td>
        		<!-- <td th:text="${dto.group_name}"></td> -->
        		<!-- <td th:text="${dto?.emp_name}"></td> -->
        	</tr>
        </table>
        </div>
    </div>

    <div class="form-section">
        <div class="form-group">
            <label for="subject">제목</label>
            <input type="text" id="subject"name="subject" placeholder="제목을 입력해 주세요.">
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea id="content" name="content" placeholder="내용을 입력해 주세요."></textarea>
        </div>
        <div class="form-group">
            <label for="attachment">첨부 파일</label>
            <input type="file" id="attachment">
            <button class="btn-delete">파일 제거</button>
        </div>
    </div>
</div>
<!-- </a> -->
</main>
<script>
	
	
</script>
</th:block>
</body>
</html>