@charset "UTF-8";


.fc-daygrid-day-number {
  color: black; /* 평일 기본 색상 */
}

.fc-col-header-cell-cushion {
  color: black; /* 평일 기본 색상 */
}

/* 토요일 색상 */
.fc-day-sat .fc-daygrid-day-number {
  color: blue !important;
}

/* 토요일 색상 */
.fc-day-sat .fc-col-header-cell-cushion {
  color: blue !important;
}

/* 일요일 색상 */
.fc-day-sun .fc-daygrid-day-number {
  color: red !important;
}

/* 일요일 색상 */
.fc-day-sun .fc-col-header-cell-cushion {
  color: red !important;
}

/* 일정 텍스트 색상 변경 */
.fc-event {
  color: black !important; /* 일정 텍스트 색상 */
}
/* 
.modal-body .row {
  display: flex; Flexbox 사용
  align-items: center; 세로(수직) 가운데 정렬
}

.modal-body label {
  width: 150px; 일정한 너비를 설정하여 정렬을 균일하게
}

.modal-body p {
  margin: 0; p 태그의 기본 여백 제거
} */

.padding-7-y {
  padding-top: 7px;
  padding-bottom: 7px;
}

.schedule-filters {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  gap: 10px; /* 라벨 간의 간격 */
}

.filter-item {
  display: flex;
  align-items: center; /* 아이템을 수직 가운데 정렬 */
  gap: 10px; /* 체크박스와 컬러 피커 사이의 간격 */
}

.color-circle {
  width: 15px; /* 원의 너비 */
  height: 15px; /* 원의 높이 */
  border-radius: 50%; /* 원 모양 만들기 */
  border: 1px solid #ccc; /* 테두리 */
  margin-left: 5px; /* 텍스트와 컬러 피커 간격 */
}

.color-palette-modal {
    position: absolute;
    width: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.color-palette {
    display: flex;
    flex-wrap: wrap;
}

.color-option {
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #ccc;
}

