<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     layout:decorate="~{include/layout}">

 <th:block layout:fragment="content">
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>공지사항</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">목록</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    
    <div class="col-xxl-4 col-md-6">
         <div class="card info-card sales-card" style="margin-top: 25px; width: 1500px;">
             <div class="card-body">
             	<table id="notice_detail" class="table" style="margin-top: 50px;">
             		<colgroup>
             			<col width="70%" align="left">
             			<col width="30%" align="left">
             		</colgroup>
             		<thead>
             			<tr>
             				<th th:text="${dto.notice_title}" style="text-align: left; font-size: 22px;" colspan="2"></th>

             			</tr>
             			<tr>
             				<td th:text="'작성자 : ' + ${dto.notice_writer_name}" style="text-align: left; font-size: 12px;" ></td>
             				<td th:text="${#temporals.format(dto.notice_reg_date, 'YYYY-MM-dd HH:MM')}" style="text-align: right; font-size: 12px;"></td>
             			</tr>
             		</thead>
             		<tbody>
             			<tr>
             				<th colspan="3" style="background-color: #F0F8FF; text-align: center;">내용</th>
             			</tr>
             			<tr>
             				<td th:utext="${dto.notice_content}" colspan="3" style="height: 300px;"></td>
             			</tr>
             		</tbody>
             	</table>
             	<div th:if="${dto.notice_writer_code == #authentication.principal.dto.emp_code}">
             	<form id="noticeDeleteFrm">
             			<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                		<input type="hidden" name="notice_no" id="notice_no" th:value="${dto.notice_no}">
                		<button type="submit"  
                		class="btn btn-outline-danger"
                		style="float: right; margin-left: 10px;">삭제</button>
                </form>
                		<button type="button" th:onclick="|location.href='@{/noticeUpdate/{noticeNo}(noticeNo=${dto.notice_no})}'|" 
                		class="btn btn-outline-info" style="float: right;">수정</button>
                </div>
             	<script type="text/javascript">
             		const formDelete = document.getElementById("noticeDeleteFrm");
             		formDelete.addEventListener('submit',(d) =>{
             			d.preventDefault();
             			const payload = new FormData(formDelete);
             			const noticeNo = formDelete.notice_no.value;
             			if(confirm("정말로 삭제하시겠습니까?")){
             				fetch('/noticeDelete/'+noticeNo, {
             	                method: 'post',
             	               	body : payload
             	            })
             	            .then(response => response.json())
             	            .then(data => {
             	                if (data.res_code == '200') {
             	                    Swal.fire({
             	                        icon: 'success',
             	                        title: '삭제 완료',
             	                        text: '게시물이 성공적으로 삭제되었습니다.',
             	                        confirmButtonText: "닫기"
             	                    }).then((result) => {
             	                        location.href = "/noticeList"; // 삭제 후 목록 페이지로 이동
             	                    });
             	                } else {
             	                    Swal.fire({
             	                        icon: 'error',
             	                        title: '삭제 실패',
             	                        text: '삭제 중 문제가 발생했습니다.',
             	                        confirmButtonText: "닫기"
             	                    });
             	                }
             	            })
             			} else{
             				alert("삭제가 취소되었습니다.");
             			}
             		});
             		
             	</script>
             	
             	<table id="notice_comment" class="table" style="margin-top: 100px">
             	<thead>
             		<tr>
             			<th style="background-color: #F0F8FF; text-align: center;">댓글 작성</th>
             		</tr>
             	</thead>
             	<tbody>
             		<th:block th:if="${dto.notice_comment_status.equals('N')}">
             				<tr>
             					<td style="text-align: center;">해당 공지사항에 댓글을 등록할 수 없습니다.</td>
             				</tr>
             		</th:block>
             		<th:block th:if="${dto.notice_comment_status.equals('Y')}">
             			<tr>
             				<td>
             				<form id="commentAddFrm">
             					<input type="hidden" id="notice_no" name="notice_no" th:value="${dto.notice_no}">
             					<input type="hidden" id="comment_writer_name" name="comment_writer_name" th:value="${#authentication.principal.dto.emp_name}">
                				<input type="hidden" id="comment_writer_code" name="comment_writer_code" th:value="${#authentication.principal.dto.emp_code}">
                				<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
             					<div class="form-floating mb-3">
                      			<input type="text" class="form-control" id="comment_content" name="comment_content" placeholder="내용을 입력하세요.">
                      			<label for="comment_content">내용을 입력하세요.</label>
                				</div>
                				<button type="submit" class="btn btn-primary rounded-pill" style="float:right;">등록</button>
                			</form>
                			</td>
             			</tr>
             			<script>
             			const form = document.getElementById("commentAddFrm");
             			
             			form.addEventListener('submit', (e) => {
             				e.preventDefault();
             				let vali_check = false;
             				let vali_text = "";
             				
             				if(form.comment_content.value == ""){
             					vali_text += "댓글 내용을 입력하세요.";
             					form.comment_content.focus();
             				}else{
             					vali_check = true;
             				}
             				
             				if(vali_check == false){
             					alert(vali_text);
             				}else{
             					const payload = new FormData(form);
             					for (var pair of payload.entries()) {
             					    console.log(pair[0] + ': ' + pair[1]);
             					}
             					fetch('/commentCreate',{
             						method : 'POST',
             						body : payload
             					})
             					.then(response => response.json())
             					.then(data=>{
             						if(data.res_code == '200'){
             							Swal.fire({
             								icon : 'success',
             								title : '성공',
             								text : data.res_msg,
             								confirmButtonText : "닫기"
             							}).then((result)=>{
             								window.location.href = window.location.href;
             							});
             						} else{
             							Swal.fire({
             								icon : 'error',
             								title : '실패',
             								text : data.res_msg,
             								confirmButtonText : "닫기"
             							});
             						}
             					});
             				}
             			})
	
						</script>
             		</th:block>
             		
             	</tbody>
             	</table>
             	<table class="table">
    <tbody>
    <th:block th:if="${dto.notice_comment_status.equals('Y')}">
    <th:block th:if="${#lists.isEmpty(resultList)}">
    	<tr>
   			<th style="background-color: #F0F8FF; text-align: center;">댓글 목록</th>
   		</tr>
    	<tr>
    		<th style="text-align: center;">등록된 댓글이 없습니다.</th>
    	</tr>
    </th:block>
    <th:block th:if="${!#lists.isEmpty(resultList)}">
   	<tr>
   		<th style="background-color: #F0F8FF; text-align: center;">댓글 목록</th>
   	</tr>
   		
   	
        <tr th:each="parentComment : ${resultList}" th:if="${parentComment.comment_parent_no == null}">
            <td>
                <div th:if="${parentComment.comment_status != 'N'}">
                	
                	<div th:if="${parentComment.comment_writer_code == #authentication.principal.dto.emp_code}">
                		<input type="hidden" id="csrfToken" name="_csrf" th:value="${_csrf.token}">
                		<input type="hidden" id="notice_no" name="notice_no" th:value="${parentComment.notice_no}">
                		<button type="submit" class="btn btn-outline-danger" style="float: right; margin-left: 10px;"
                		th:onclick="|deleteComment(${parentComment.comment_no})|">삭제</button>
                		<button type="button" class="btn btn-outline-info" style="float:right;"
        				th:onclick="|editComment(${parentComment.comment_no})|">수정</button>
                	</div>
                	
                	
                	
                    <span th:text="${parentComment.comment_writer_name}"></span><br>
                    <span th:id="'content-display-' + ${parentComment.comment_no}" th:text="${parentComment.comment_content}"></span>
            		<textarea th:id="'content-edit-' + ${parentComment.comment_no}" class="form-control" style="display:none; resize:none;" th:utext="${parentComment.comment_content}"></textarea>
            		<br>
            		<span th:text="${#temporals.format(parentComment.comment_reg_date, 'MM-dd HH:mm')}"></span>
            		<button type="button" class="btn btn-outline-secondary" style="float:right;" 
        			th:onclick="|showReplyForm(${parentComment.comment_no})|">답글</button>

    				<!-- 숨겨진 답글 작성 영역 -->
    				<div th:id="'reply-form-' + ${parentComment.comment_no}" style="display:none; margin-top: 10px;">
        				<input type="hidden" id="comment_writer_name" name="comment_writer_name" th:value="${#authentication.principal.dto.emp_name}">
                		<input type="hidden" id="comment_writer_code" name="comment_writer_code" th:value="${#authentication.principal.dto.emp_code}">
        				<textarea th:id="'reply-textarea-' + ${parentComment.comment_no}" class="form-control" placeholder="답글을 작성하세요"></textarea>
        				<button type="button" class="btn btn-outline-primary" style="margin-top: 5px; float:right; resize:none;"
            			th:onclick="|submitReply(${parentComment.comment_no})|">답글 등록</button>
    				</div>
                </div>
                <script>
                function showReplyForm(commentNo) {
                	const replyForm = document.getElementById('reply-form-' + commentNo);
                    if (replyForm.style.display === 'none') {
                        replyForm.style.display = 'block';
                    } else {
                        replyForm.style.display = 'none';
                    }
                }

                function submitReply(commentParentNo) {
                    const replyTextarea = document.getElementById('reply-textarea-' + commentParentNo);
                    const replyContent = replyTextarea.value;
					const csrfToken = document.getElementById('csrfToken').value;
					const noticeNo = document.getElementById('notice_no').value;
                    const writerCode = document.getElementById('comment_writer_code').value;
                    const writerName = document.getElementById('comment_writer_name').value;
                    
                    const payload = new FormData();
                    
                    payload.append('_csrf', csrfToken);
                    payload.append('comment_parent_no',commentParentNo);
                    payload.append('comment_content', replyContent);
                    payload.append('notice_no', noticeNo);
                    payload.append('comment_writer_code', writerCode);
                    payload.append('comment_writer_name', writerName);
                    
                    if(replyContent == ""){
                    	alert('답글 내용을 입력하세요.');
                    }else{
                    fetch('/commentUpdate',{
                        method: 'post',
                        body: payload
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.res_code == '200') {
                            Swal.fire({
                              icon :'success',
                              title:'성공',
                              text : data.res_msg,
                              confirmButtonText: "닫기"
                            }).then((result) => {
                            	window.location.href = window.location.href;
                            });
                          } else {
                            Swal.fire({
                              icon: 'error',
                              title: '실패',
                              text: data.res_msg,
                              confirmButtonText: "닫기"
                            });
                          }
                        
                    });
                    	
                    }
                    

                }	
                
                	function deleteComment(commentNo){
                		if(confirm("정말로 삭제하시겠습니까?")){
	                		const noticeNo = document.getElementById('notice_no').value;
	                		const csrfToken = document.getElementById('csrfToken').value;
                			const payload = new FormData();
                			
                			payload.append('notice_no', noticeNo);
                			payload.append('_csrf', csrfToken);
                			
                			fetch('/commentDelete/'+commentNo,{
                				method : 'post',
                				body : payload
                			})
                			.then(response => response.json())
                			.then(data => {
             	                if (data.res_code == '200') {
             	                    Swal.fire({
             	                        icon: 'success',
             	                        title: '삭제 완료',
             	                        text: '댓글이 성공적으로 삭제되었습니다.',
             	                        confirmButtonText: "닫기"
             	                    }).then((result) => {
             	                    	window.location.href = window.location.href;
             	                    });
             	                } else {
             	                    Swal.fire({
             	                        icon: 'error',
             	                        title: '삭제 실패',
             	                        text: '삭제 중 문제가 발생했습니다.',
             	                        confirmButtonText: "닫기"
             	                    });
             	                }
             	            })
             				} else{
             				alert("삭제가 취소되었습니다.");
             			
                		}
                		
                	}
                
                	function editComment(commentNo) {
                	
                    // span과 textarea 전환
                    const contentDisplay = document.getElementById('content-display-' + commentNo);
                    const contentEdit = document.getElementById('content-edit-' + commentNo);
                    if (contentEdit.style.display === 'none') {
                        contentEdit.style.display = 'block';
                        contentDisplay.style.display = 'none';
                    } else {
                        contentEdit.style.display = 'none';
                        contentDisplay.style.display = 'block';
                    }

                    // 수정 버튼을 저장으로 전환
                 	
                    const editButton = document.querySelector(`[onclick="editComment(${commentNo})"]`);
                 	// `editButton`이 존재하는지 확인
                    if (editButton) {
                        if (editButton.textContent === '수정') {
                            editButton.textContent = '저장';
                            editButton.setAttribute('onclick', `saveComment(${commentNo})`);
                        } else {
                            editButton.textContent = '수정';
                            editButton.setAttribute('onclick', `editComment(${commentNo})`);
                        }
                    }
    
                }
                function saveComment(commentNo) {
                    // 수정된 내용 가져오기
                    const contentEdit = document.getElementById('content-edit-' + commentNo);
                    const updatedContent = contentEdit.value;
                    const csrfToken = document.getElementById('csrfToken').value;
					const noticeNo = document.getElementById('notice_no').value;
                    
                    console.log(updatedContent);
					
					const payload = new FormData();
				    
					payload.append('comment_no', commentNo);
				    payload.append('comment_content', updatedContent);
				    payload.append('_csrf', csrfToken);
				    payload.append('notice_no', noticeNo);
				    
                    // 서버로 업데이트 요청 보내기
                    
                   fetch('/commentCreate/'+commentNo, {
                        method: 'post',
                        body: payload
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.res_code == '200') {
                            Swal.fire({
                              icon :'success',
                              title:'성공',
                              text : data.res_msg,
                              confirmButtonText: "닫기"
                            }).then((result) => {
                            	window.location.href = window.location.href;
                            });
                          } else {
                            Swal.fire({
                              icon: 'error',
                              title: '실패',
                              text: data.res_msg,
                              confirmButtonText: "닫기"
                            });
                          }
                        
                    });
                }
				</script>
                
                <div th:if="${parentComment.comment_status == 'N'}">삭제된 댓글입니다</div>
                <table class="table">
    				<tbody>
        				<tr th:each="childComment : ${resultList}" th:if="${childComment.comment_parent_no == parentComment.comment_no}">
            				<td style="padding-left: 20px;"> <!-- childComment에만 padding-left 적용 -->
                				<div th:if="${childComment.comment_status != 'N'}">
                    				<div th:if="${childComment.comment_writer_code == #authentication.principal.dto.emp_code}">
                        				<input type="hidden" id="csrfToken" name="_csrf" th:value="${_csrf.token}">
                        				<input type="hidden" id="notice_no" name="notice_no" th:value="${childComment.notice_no}">
                        				
                        				<button type="submit" class="btn btn-outline-danger" style="float: right; margin-left: 10px; "
                            			th:onclick="|deleteComment(${childComment.comment_no})|">삭제</button>
                        				<button type="button" class="btn btn-outline-info" style="float:right; margin-left: 10px;"
                            			th:onclick="|editComment(${childComment.comment_no})|">수정</button>
                            			
                    				</div>
                    				<span th:text="${childComment.comment_writer_name}"></span><br>
                    				<span th:id="'content-display-' + ${childComment.comment_no}" th:text="${childComment.comment_content}"></span>
                    				<textarea th:id="'content-edit-' + ${childComment.comment_no}" class="form-control" style="display:none; resize:none;"
                     		    	th:utext="${childComment.comment_content}"></textarea><br>
                    				<span th:text="${#temporals.format(parentComment.comment_reg_date, 'MM-dd HH:mm')}"></span>
                				</div>
                			<div th:if="${childComment.comment_status == 'N'}">삭제된 댓글입니다</div>
            			</td>
        			</tr>
    			</tbody>
			</table>

            </td>
        </tr>
        
    </th:block>
    </th:block>
    </tbody>
</table>


             	
             </div>
         </div>
     </div>
  </main><!-- End #main -->
</th:block>


</html>
