<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.chatting.mapper.ChatRoomMapper">
    <select id="selectChatRoomList" resultType="com.cc.chatting.domain.ChatRoomVo"
    parameterType="java.util.List">
        SELECT *
		FROM chat_room
		WHERE room_no IN
        <foreach item="room_no" index="index" collection="roomNoList" open="(" separator="," close=")">
            #{room_no}
        </foreach>
        ORDER BY 
        last_date DESC
    </select>
</mapper>