<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

</head>
<body>
    <!-- Header -->
    <th:block th:replace="~{include/header :: headerLayout}"></th:block>
    <!-- Navigation -->
    <th:block th:replace="~{include/nav :: navLayout}"></th:block>
    <!-- Main Content -->
   <th:block layout:fragment="content">
   </th:block>
</body>
</html>