<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

<!-- Include jsTree CSS and JS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/themes/default/style.min.css" />
<!-- // 여기 -->

<!-- 조직도 끝 -->
<meta charset="UTF-8">
<title>Navigation</title>
<meta content="" name="description">
<meta content="" name="keywords">

<!-- 조직도 시작 -->

</head>
<body>
	<th:block th:fragment="navLayout">
		<!-- ======= Sidebar ======= -->
		<aside id="sidebar" class="sidebar">
			<ul class="sidebar-nav" id="sidebar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/}"> <i
						class="bi bi-grid"></i> <span>메인화면</span>
				</a></li>
				<li class="nav-item"><a class="nav-link collapsed"
					data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
						<i class="ri-briefcase-line"></i><span>근태 관리</span>
				</a></li>
				<li class="nav-item"><a class="nav-link collapsed"
					th:href="@{/employeeList}"> <i class="bi bi-person-plus-fill"></i><span>인사
							관리</span>
				</a></li>
				<li class="nav-item">
				<li class="nav-item"><a class="nav-link collapsed"
					data-bs-toggle="collapse" href="#"> <i class="ri-time-line"></i><span>예약
							관리</span>
				</a></li>
				<li class="nav-item"><a class="nav-link collapsed"
					th:href="@{/calendar}"> <i class="ri-calendar-2-line"></i> <span>일정
							관리</span>
				</a></li>
				<li class="nav-item"><a class="nav-link collapsed"
					data-bs-toggle="collapse" href="#"> <i
						class="bx bxs-folder-open"></i><span>문서 관리</span>
				</a></li>
				<li class="nav-item"><a class="nav-link collapsed"
					data-bs-toggle="collapse" href="#"> <i class="bi bi-shop"></i><span>점포
							관리</span>
				</a></li>
				<li class="nav-item"><a class="nav-link collapsed"
					th:href="@{/noticeList}"> <i class="bx bxs-category"></i><span>게시판</span>
				</a></li>
				<li class="nav-item"><a class="nav-link collapsed"
					th:href="@{/approvalHome}"> <i class="ri-file-edit-line"></i><span>전자
							결재</span>
				</a></li>
				<li class="nav-item"><a class="nav-link collapsed"
					data-bs-toggle="collapse" href="#"> <i class="bx bx-chat"></i><span>채팅</span>
				</a></li>
				<!-- Other nav items omitted for brevity -->
				<li><a class="nav-link collapsed" th:href="@{/toOrganization}">조직도</a>
				</li>
			</ul>
		</aside>
		<!-- End Sidebar-->
		<!-- 모달 -->
		<div class="modal fade" id="orgChartModal" tabindex="-1"
			aria-labelledby="orgChartModalLabel" aria-hidden="true">
			<div class="modal-dialog" style="width: 50%; margin-top: 50px;">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="orgChartModalLabel">조직도</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<!-- 조직도가 표시될 곳 -->
						<div id="treeContainer"></div>
					</div>
				</div>
			</div>
		</div>

	</th:block>
</body>
</html>
</body>
</html>

