<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Navigation</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
</head>
<body>
<th:block th:fragment="navLayout">
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/}" >
            <i class="bi bi-grid"></i>
            <span>메인화면</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="#">
            <i class="ri-briefcase-line"></i><span>근태 관리</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="#">
            <i class="bi bi-person-plus-fill"></i><span>인사 관리</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="#">
            <i class="ri-time-line"></i><span>예약 관리</span>
          </a>
        </li>
        <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/calendar}">
          <i class="ri-calendar-2-line"></i>
          <span>일정 관리</span>
        </a>
      </li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="#">
            <i class="bx bxs-folder-open"></i><span>문서 관리</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="#">
            <i class="bi bi-shop"></i><span>점포 관리</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="#">
            <i class="bx bxs-category"></i><span>게시판</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="#">
            <i class="ri-file-edit-line"></i><span>전자 결재</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="#">
            <i class="bx bx-chat"></i><span>채팅</span>
          </a>
        </li>
        
        <!-- Other nav items omitted for brevity -->
      </ul>
    </aside><!-- End Sidebar-->
</th:block>

</body>
</html>
