@charset "UTF-8";


.sub-sidebar {
	position: fixed;
	top: 60px;
	left: 300px; /* 메인 사이드바의 너비만큼 왼쪽 여백 */
	bottom: 0;
	width: 250px; /* 추가 사이드바의 너비 */
	z-index: 995; /* 메인 사이드바보다 낮은 z-index 설정 */
	transition: all 0.3s;
	padding: 20px;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: #aab7cf transparent;
	box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
	background-color: #fff;
}

.sales-list {
	position: fixed;
	background-color: #fff;
	left: 550px;
	width: 70%;
	bottom: 0;
	top: 60px;
}

.sales-title {
	font-size: 24px;
	font-weight: bold;
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 20px;
}
/* 기본 링크 스타일 */
.sidebar-link {
    color: #012970; /* 기본 텍스트 색상 */
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
}

.filter-section table {
    width: 96%; /* 테이블 가로 크기 조정 */
  	margin-top:10px;
}

.filter-section{
	margin-left:10px;
}

/* 페이지네이션 스타일 */
.dataTables_wrapper .dataTables_paginate {
	float: center !important;
	text-align: center !important;
	padding-top: .25em;
}
.dataTables_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px; 
}

.dataTables_scrollBody {
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤 */
    height: 450px; /* 테이블의 높이 고정 */
}

.dataTables_paginate {
    position:fixed;
    margin-top: 680px;
    margin-left: 450px;
}
.dataTables_paginate .paginate_button {
	display: inline-block;
	padding: 5px 10px;
	margin: 0 2px;
	color: #333;
	background-color: #fff;
	border: 1px solid #ddd;
	font-size: 14px;
	cursor: pointer;
}

.dataTables_paginate .paginate_button.current {
	background-color: #C7CEEA !important;
	color: #fff;
	border-color: #007bff;
}

.dataTables_paginate .paginate_button:hover {
	background-color: #f1f1f1;
}

.dataTables_filter input {
	border-radius: 4px;
	padding: 5px;
	border: 1px solid #ddd;
}

/* 현재 페이지가 활성화된 경우 (active 상태) */
.sidebar-link.active {
    background-color: #f6f9ff; /* 활성화된 페이지의 배경색 */
    color: #4154f1; /* 활성화된 페이지의 텍스트 색상 */
    width: 230px;
}

/* hover 시 스타일 */
.sidebar-link:hover {
    background-color: #f6f9ff; /* hover 시 배경색 */
    color: #4154f1; /* hover 시 텍스트 색상 */
    width: 230px;
}


