<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     layout:decorate="~{include/layout}">
 <th:block layout:fragment="content">
<link href="/bootstrap/chat/chat.css" rel="stylesheet">
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>채팅</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">목록</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    
      
      <section class="section">
          <div class="row">
              <div class="col-md-6">
                  <div class="card">
                      <div class="card-header">
                          <div class="media d-flex align-items-center">
                              <div class="avatar me-3">
                                  
                                  <span class="avatar-status bg-success"></span>
                              </div>
                              <div class="name flex-grow-1">
                                  <h6 class="mb-0" th:text="${roomResult.room_name}"></h6>
                                  
                              </div>
                              <button class="btn btn-sm">
                                  <i data-feather="x"></i>
                              </button>
                          </div>
                      </div>
                      <div class="card-body pt-4 bg-grey" th:each="chatMessage : ${msgResult}">
                           <div class="chat-content" id="chat-container">
                              <div class="chat">
                                  <div class="chat-body">
                                      <div class="chat-message" 
                                      th:if="${chatMessage.emp_code == #authentication.principal.dto.emp_code}"
                                      th:text="${chatMessage.message_content}"></div>
                                  </div>
                              </div>
                          		
                              <div class="chat chat-left">
                                  <div class="chat-body">
                                      <div class="chat-message"
                                      th:if="${chatMessage.emp_code != #authentication.principal.dto.emp_code}"
                                      th:text="${chatMessage.message_content}"></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="card-footer">
                          <div class="message-form d-flex flex-direction-column align-items-center">
                              <a href="http://" class="black"><i data-feather="smile"></i></a>
                              <div class="d-flex flex-grow-1 ml-4">
                              	  <input type="hidden" id="room_no" name="room_no" th:value="${chatMessage.room_no}">
                              	  <input type="hidden" id="emp_code" name="emp_code" th:value="${#authentication.principal.dto.emp_code}">
                                  <input type="text" id="txt_msg" class="form-control" placeholder="메세지를 입력하세요.">
                                  <input type="button" class="btn btn-primary rounded-pill" id="send_btn" value="보내기">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <script type="text/javascript">
      		const websocket = new WebSocket("ws://localhost:8100/chatting");
      		
      		websocket.onmessage = (response) => {
      			const resp = JOSN.parse(response.data);
      			if(resp.res_code == '200'){
      				const roomNo = document.getElementById("room_no").value;
      				
      				if(roomNo == resp.room_no){
      					printMsg(resp.message_content);
      				}
      			}else{
  					alert(resp.res_msg);
  				}
      		}
      		
      		const printMsg = function(msg){
      			const div = document.createElement("div");
      			const textNode = document.createTextNode(msg);
      			div.appendChild(textNode);
      			div.className += 'chat-message';
      			document.getElementById("chat-container").appendChild(div);
      		}
      		
      		document.getElementById('send_btn').addEventListner('click',function(){
      			const msg = document.getElementById('txt_msg').value;
      			const obj = setMsgObj('msg',msg);
      			websocket.send(JSON.stringify(obj));
      			document.getElementById('txt_msg').value="";
      		});
      		
      		websocket.onclose = (response) =>{
      			const obj = setMsgObj('open','');
      			websocket.send(JSON.stringify(obj));
      		}
      		
      		websocket.onopen = (data) =>{
      			const obj = setMsgObj('open','');
      			websocket.send(JSON.stringify(obj));
      		}
      		
      		let setMsgObj = function(chatType,chatMsg){
      			const sender = document.getElementById("emp_code").value;
      			const roomNo = document.getElementById("room_no").value;
      			const obj = {
      					chat_type : chatType,
      					message_content : chatMsg,
      					emp_code : sender,
      					room_no : roomNo
      			}
      			return obj;
      		}
      </script>
  </main>

</th:block>

</html>
