<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{include/layout}">
<head>
<meta charset="UTF-8">
<title>notification</title>
  <!-- DataTables CSS -->
<link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet">
<!-- DataTables JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
</head>
<body>
<th:block layout:fragment="content">
  	<main id="main" class="main">
	   <div class="sub-sidebar" id="sub-sidebar">
	    	<div class="pagetitle">
			    <h1>알림</h1>
			</div>
			<div>전체 알림</div>
			<div>안읽은 알림</div>
       </div>
	   <div class="notification-title">
        <span>전체 알림</span>
       </div>
	   <hr>
	    <div class="notification-buttons-select">
		    <div class="notification-buttons">
		        <button type="button" class="btn btn-outline-primary">읽음</button>
		        <button type="button" class="btn btn-outline-danger" >삭제</button>
		    </div>
		    <div class="notification-select">
		        <select class="form-select" aria-label="Default select example" id="" name="">
		            <option value="1">전체</option>
		            <option value="2">일정</option>
		            <option value="3">게시판</option>
		            <option value="4">전자결재</option>
		        </select>
		    </div>
		</div>
	    <hr>
	</main>
	<script>
        $(document).ready(function() {   
       $('#notification_list').DataTable({
           "lengthChange": false,  // Show entries 숨김
           "searching": false,      // 검색 활성화
           "responsive": true,
           "language": {
               url: 'https://cdn.datatables.net/plug-ins/1.10.25/i18n/Korean.json'
           },
          "pagingType": "full_numbers"
       });
       
   });
</script>
</th:block>
</body>
</html>