<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{include/layout}">
	<!-- xmlns:sec="http://thymeleaf.org.org/extras/spring-security" -->
<head>
<!-- <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script> -->
<title>사원 등록</title>
<!-- Bootstrap JS -->
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
.sub-sidebar {
	width: 250px;
	background-color: #fff;
	padding: 20px;
	font-size: 15px;
	font-weight: 600;
	color: #012970;
}

.subside_title {
	font-size: 25px;
}

.card-body {
	display: inline-block;
}

.card-body-header {
	display: flex;
	justify-content: space-between;
}

.basic-info {
	display: flex;
	width: 100%;
}

.basic-info-left {
    flex: 0 0 40%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    position: relative; 
}

#profile_img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    display: inline-block; 
    margin-top: 20px;
}


.upload-text {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 12px;
}

.basic-info-right {
	flex: 0 0 60%;
	padding: 10px;
	box-sizing: border-box;
}

.form-control {
	width: 200px;
}

.form-select {
	width: 200px;
}

table td, table th {
    vertical-align: middle; 
}
</style>
</head>
<body>
	<th:block layout:fragment="content">
		<main id="main" class="main">
			<div class="sub-sidebar" id="sub-sidebar">
				<div id="treeContainer" style="width: 300px;"></div>
			</div>
			<section class="section dashboard" style="width: calc(100% - 250px);">
				<div class="col-xxl-4 col-md-6" style="width: 100%;">
					<div class="card info-card sales-card" style="margin-top: 25px; margin-left: 25px;">
						<div class="card-body">
							<div class="card-body-header">
								<h2 class="card-title"><b>사원 등록</b></h2>
							</div>
							<hr>
							<form id="empAddFrm" action="/employeeCreate" method="POST" enctype="multipart/form-data">
								<input type="hidden" id="_csrf" name="_csrf" th:value="${_csrf.token}" />
								<input type="hidden" class="form-control" id="emp_resign" name="emp_resign" th:value="N">
								<input type="hidden" class="form-control" id="emp_holiday" name="emp_holiday" th:value="15">
								<div class="basic-info">
									<div class="basic-info-left">
										<img src="bootstrap/img/basic_profile.png" id="profile_img" alt="Profile" class="rounded-circle" style="width:200px; height:200px;">
							            <br><br>
							            <input type="file" id="img_file" name="emp_img_file" accept="image/*" onchange="previewImage(event)">
									</div>
									<div class="basic-info-right">
										<table class="table table-bordered">
											<colgroup>
												<col style="width: 40%;">
												<col style="width: 60%;">
											</colgroup>
											<tr>
												<th>이름</th>
												<td><input type="text" class="form-control"
													id="emp_name" name="emp_name" placeholder="예) 홍길동"></td>
											</tr>
											<tr>
												<th>사원 번호</th>
												<td><input type="text" class="form-control"
													id="emp_account" name="emp_account" th:value="${inputAccount}"></td>
											</tr>
											<tr>
												<th>사원 비밀번호</th>
												<td><input type="text" class="form-control" id="emp_pw"
													name="emp_pw" placeholder="4~12자리의 영문과 숫자 조합"></td>
											</tr>
											<tr>
												<th>주민 등록 번호</th>
												<td><input type="text" class="form-control"
													id="emp_reg_no" name="emp_reg_no"
													placeholder="하이픈(-) 사용"></td>
											</tr>
											<tr>
												<th>주소</th>
												<td><input type="text" class="form-control"
													id="emp_postcode" name="emp_postcode" placeholder="우편번호"
													style="display: inline-block;">
													<button type="button" th:onclick="execDaumPostcode()"
														class="btn btn-warning rounded-pill"
														style="height: 30px; font-size: 13px;">
														<b>우편번호 찾기</b>
													</button>
													<br> <input type="text" class="form-control"
													id="emp_addr" name="emp_addr" placeholder="주소"
													style="display: inline-block;"> <input type="text"
													class="form-control" id="emp_addr_detail"
													name="emp_addr_detail" placeholder="상세 주소"
													style="display: inline-block;"></td>
											</tr>
											<tr>
												<th>부서</th>
												<td><select id="emp_dept" class="form-select" aria-label="Default select example">
														<option disabled selected value="">부서를 선택하세요</option>
														<option th:each="dept:${groupList}"
															th:value="${dept.group_no}" th:text="${dept.group_name}"
															th:if="${dept.group_parent_no == null}"></option>
												</select></td>
											</tr>
											<tr>
												<th>팀</th>
												<td><select id="group_no" name="group_no"
													class="form-select" aria-label="Default select example">
														<option disabled selected value="">팀을 선택하세요</option>
														<option th:each="team:${groupList}"
															th:value="${team.group_no}" th:text="${team.group_name}"
															th:if="${team.group_parent_no != null}"
															th:data-parent-no="${team.group_parent_no}"></option>
												</select></td>
											</tr>
											<tr>
												<th>직급</th>
												<td><select id="emp_job_code" name="emp_job_code"
													class="form-select" aria-label="Default select example">
														<option disabled selected value="">직급을 선택하세요</option>
														<option th:each="j:${jobList}" th:value="${j.job_code}"
															th:text="${j.job_name}"
															th:if="${j.job_code != 'J1'} and ${j.job_code != 'J2'}">
														</option>
												</select></td>
											</tr>
											<tr>
												<th>휴대전화</th>
												<td><input type="text" class="form-control"
													id="emp_phone" name="emp_phone" placeholder="하이픈(-) 사용"></td>
											</tr>
											<tr>
												<th>내선번호</th>
												<td><input type="text" class="form-control"
													id="emp_desk_phone" name="emp_desk_phone"
													placeholder="하이픈(-) 사용"></td>
											</tr>
											<tr>
												<th>이메일</th>
												<td><input type="email" class="form-control"
													id="emp_email" name="emp_email"></td>
											</tr>
											<tr>
												<th>입사일</th>
												<td><input type="date" class="form-control"
													id="emp_hiredate" name="emp_hiredate">
												</td>
											</tr>
										</table>
									</div>
								</div>
								<div class="d-flex align-items-center" style="display: flex; justify-content: flex-end;">
									<button type="submit" class="btn btn-primary rounded-pill" style="margin-right: 10px;">
										완료
									</button>
									<button type="button" class="btn btn-secondary rounded-pill">취소</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
		</main>
		<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
		<script>
		// 1. 이미지 표현
		function previewImage(event) {
	    // FileReader 객체를 생성
		    var reader = new FileReader();
		    
		    // 파일이 로드된 후 실행될 콜백 함수 정의
		    reader.onload = function() {
		        // img 태그의 src 속성을 파일의 데이터 URL로 설정
		        var output = document.getElementById('profile_img');
		        output.src = reader.result;
		    };
		    
		    // input에서 선택된 파일을 읽음
		    reader.readAsDataURL(event.target.files[0]);
		}
		
	// 2. 주소 등록
	function execDaumPostcode() {
		
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일 때 참고 항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동 주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고 항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고 항목을 해당 필드에 넣는다.
                    //document.getElementById("sample6_extraAddress").value = extraAddr;
                
                } else {
                    //document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('emp_postcode').value = data.zonecode;
                document.getElementById("emp_addr").value = addr;
                // 커서를 상세 주소 필드로 이동한다.
                document.getElementById("emp_addr_detail").focus();
            }
        }).open();
    }

	
	// 3. 부서 선택에 따른 팀 목록 출력
	document.getElementById("emp_dept").addEventListener("change", function() {
        var selectedDept = this.value;  // 선택한 부서 번호
        var teamSelect = document.getElementById("group_no");  // 팀 select 요소
        var options = teamSelect.querySelectorAll("option");

        // 팀 목록 초기화
        options.forEach(function(option) {
            if (option.value) {
                option.style.display = "none";  // 모든 팀 숨기기
                if (option.getAttribute("data-parent-no") === selectedDept) {
                    option.style.display = "block";  // 선택한 부서에 해당하는 팀만 표시
                }
            }
        });
    });
	
	// 4. 등록 처리
	const form = document.getElementById("empAddFrm");
	form.addEventListener('submit', (e) => {
		e.preventDefault();
	
	    // 유효성 검사
	    let vali_check = false;
	    let vali_text = "";
	    
	    if(form.emp_img_file.value == ""){
	    	vali_text += '사원의 이미지를 첨부하세요.\n';
	        form.emp_img_file.focus();
	    }else if (form.emp_name.value === "") {
	        vali_text += '이름을 입력하세요.\n';
	        form.emp_name.focus();
	    } else if (form.emp_account.value === "") {
	        vali_text += '사원 번호를 입력하세요.\n';
	        form.emp_account.focus();
	    } else if (!/^[ab]\d{5}$/.test(form.emp_account.value)) {
	        vali_text += '사원 번호를 알맞은 형태에 맞게 기입해 주세요.\n';
	        form.emp_account.focus();
	    } else if (form.emp_pw.value === "") {
	        vali_text += '사원 비밀번호를 입력하세요.\n'; 
	        form.emp_pw.focus();
	    } else if(!/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{4,12}$/.test(form.emp_pw.value)){
	    	vali_text += '비밀번호는 4자리 이상 12자리 이하, 영문과 숫자를 조합해야 합니다.\n'; 
	        form.emp_pw.focus();
	    }else if (form.emp_reg_no.value === "") {
	        vali_text += '주민 등록 번호를 입력하세요.\n';
	        form.emp_reg_no.focus();
	    } else if (!/^\d{6}-[1-4]\d{6}$/.test(form.emp_reg_no.value)){
	        vali_text += '주민 등록 번호를 알맞은 형태로 입력하세요.\n';
	        form.emp_reg_no.focus();
	    } else if(form.emp_postcode.value === ""){
	    	vali_text += '주소를 입력하세요.\n';
	    	form.emp_postcode.focus();
	    } else if (form.emp_dept.value === "") {
	        vali_text += '부서를 선택하세요.\n';
	        form.emp_dept.focus();
	    } else if (form.group_no.value === "") {
	        vali_text += '팀을 선택하세요.\n';
	        form.group_no.focus();
	    } else if(form.emp_job_code.value === ""){
	    	vali_text += '직급을 선택하세요.\n';
	    	form.emp_job_code.focus();
	    } else if (form.emp_phone.value === "") {
	        vali_text += '휴대전화 번호를 입력하세요.\n';
	        form.emp_phone.focus();
	    } else if (!/^01[0-9]-\d{3,4}-\d{4}$/.test(form.emp_phone.value)) {
	        vali_text += '휴대전화 번호를 알맞은 형태로 입력하세요.\n';
	        form.emp_phone.focus();
	    } else if (form.emp_desk_phone.value === "") {
	        vali_text += '내선 번호를 입력하세요.\n';
	        form.emp_desk_phone.focus();
	    } else if (!/^(02|0\d{2})-\d{3,4}-\d{4}$/.test(form.emp_desk_phone.value)) {
	        vali_text += '내선 번호를 알맞은 형태로 입력하세요.\n';
	        form.emp_desk_phone.focus();
	    } else if (form.emp_email.value === "") {
	        vali_text += '이메일을 입력하세요.\n';
	        form.emp_email.focus();
	    } else if (form.emp_hiredate.value === "") {
	        vali_text += '입사일을 입력하세요.\n';
	        form.emp_hiredate.focus();
	    } else {
	        vali_check = true;
	    }
		
		 // 유효성 검사 실패하면 실행 중단
	    if (!vali_check) {
	        alert(vali_text)
	        return; 
	    }
		
	    // SweetAlert을 통해 확인 메시지 띄우기
	    Swal.fire({
	        icon: 'success',
	        title: '성공',
	        text: '사원 등록에 성공하였습니다.',
	        confirmButtonText: '닫기'
	    }).then((result) => {
	        if (result.isConfirmed) {
	            form.submit();
	        }
	    });
	});
	
	 /* // 입력 값 가져오기
    const empImgFile = document.getElementById("emp_img_file").files[0];
    const empName = document.getElementById("emp_name").value;
    const empAccount = document.getElementById("emp_account").value;
    const empPw = document.getElementById("emp_pw").value;
    const empRegNo = document.getElementById("emp_reg_no").value;
    const empPostcode = document.getElementById("emp_postcode").value;
    const empAddr = document.getElementById("emp_addr").value;
    const empAddrDetail = document.getElementById("emp_addr_detail").value;
    const empDept = document.getElementById("emp_dept").value;
    const empTeam = document.getElementById("group_no").value;
    const empJobCode = document.getElementById("emp_job_code").value;
    const empPhone = document.getElementById("emp_phone").value;
    const empDeskPhone = document.getElementById("emp_desk_phone").value;
    const empEmail = document.getElementById("emp_email").value;
    const empHiredate = document.getElementById("emp_hiredate").value; */
    
	/* {
	group_no: empTeam,
	emp_job_code: jobCode,
	emp_name: empName,
	emp_account: empAccount,
	emp_pw: empPw,
	emp_postcode: empPostcode,
	emp_addr: empAddr,
	emp_addr_detail: empAddrDetail,
	emp_reg_no: empRegNo,
	emp_email:empEmail,
	emp_phone: empPhone,
	emp_desk_phone:empDeskPhone,
	emp_hiredate:empHiredateISO,
	emp_holiday: 15,
	emp_img_file_name: empImgFileName,
	emp_resign: 'n'
	}
	
	const payload = new FormData(form);*/
            
            
  </script>
</th:block>
</body>
</html>