<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{include/layout}">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>Connect Caffeine</title>
<meta content="" name="description">
<meta content="" name="keywords">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
.empSidebar {
    position: fixed;
    top: 60px;
    left: 300px; /* 메인 사이드바의 너비만큼 왼쪽 여백 */
    bottom: 0;
    width: 250px; /* 추가 사이드바의 너비 */
    z-index: 995; /* 메인 사이드바보다 낮은 z-index 설정 */
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    font-size: 15px;
	font-weight: 600;
	color: #012970;
}

.content-area {
    margin-left: 250px; /* 사이드바 너비 + 여백 */
    padding: 20px; /* 내부 여백 */
    display: flex;
    flex-direction: column;
    gap: 20px; /* 각 섹션 간의 간격 */
    margin-top: -110px;
}

.card-body-header {
	display: flex;
	justify-content: space-between;
}

.basic-info {
	display: flex;
	width: 100%;
}

.basic-info-left {
    flex: 0 0 40%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    position: relative; 
}

#emp_profile_img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    display: inline-block; 
    margin-top: 20px;
}

.basic-info-right {
	flex: 0 0 60%;
	padding: 10px;
	box-sizing: border-box;
}

.tight-line {
	line-height: 1.2;
	margin: 0;
}

table td, table th {
    vertical-align: middle; 
}
</style>
</head>
<body>
	<th:block layout:fragment="content">
		<main id="main" class="main">
			<aside id="empSidebar" class="empSidebar">
				<div class="pagetitle">
      				<h1>인사 관리</h1>
    			</div>
    			<ul class="sidebar-nav" id="sidebar-nav">
		      		<li class="nav-item">
		        		<a class="nav-link collapsed" th:href="@{/employeeList}" style="margin-top:15px;">
		          			<i class="bi bi-person-fill"></i><span>사원 정보</span>
		        		</a>
		      		</li>
		      		<li class="nav-item">
		        		<a class="nav-link collapsed" th:href="@{/empGroupList}">
		          			<i class="bi bi-people-fill"></i><span>부서/팀 정보</span>
		        		</a>
		      		</li>
	      		</ul>
			</aside>
			<section class="section dashboard" style="width: 100%">
				<div class="content-area">
				<div class="col-xxl-4 col-md-6" style="width: 100%; margin-top:100px;">
					<div class="card info-card sales-card" style="margin-top: 25px; margin-left: 25px;">
						<div class="card-body" style="height:100%">
							<div class="card-body-header">
								<h2 class="card-title"><b>사원 정보</b></h2>
							</div>
							<ul class="nav nav-tabs nav-tabs-bordered">
			                <li class="nav-item">
			                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">기본 정보</button>
			                </li>
			                <li class="nav-item">
			                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">근태 현황</button>
			                </li>
			              </ul>
			              <div class="tab-content pt-2">
			                <div class="tab-pane fade show active profile-overview" id="profile-overview">
							<div class="basic-info">
								<div class="basic-info-left">
									<!-- emp_img_file_path 값이 있을 때 -->
								<img th:if="${dto.emp_img_file_path != null}" 
								     th:src="@{'/uploadImg/' + ${dto.emp_img_file_path}}" 
								     alt="Profile" id="emp_profile_img" class="rounded-circle"/>
								
								<!-- emp_img_file_path 값이 없을 때 기본 이미지 사용 -->
								<img th:unless="${dto.emp_img_file_path != null}" 
								     th:src="@{'/bootstrap/img/basic_profile.png'}" 
								     alt="Default Profile" id="emp_profile_img" class="rounded-circle"/>
								</div>
								<div class="basic-info-right">
									<table class="table table-bordered">
										<colgroup>
											<col style="width: 40%;">
											<col style="width: 60%;">
										</colgroup>
										<tr>
											<th>이름</th>
											<td th:text="${dto.emp_name}"></td>
										</tr>
										<tr>
											<th>사원 번호</th>
											<td th:text="${dto.emp_account}"></td>
										</tr>
										<tr>
											<th>생년월일</th>
											<td th:text="${formattedRegNo}"></td>
										</tr>
										<tr>
											<th>주소</th>
											<td>
												<p
													th:text="'(우편번호: ' + (${#strings.length(dto.emp_postcode) == 4} ? '0'+ ${dto.emp_postcode} : ${dto.emp_postcode}) + ')'"
													class="tight-line"></p>
												<p th:text="${dto.emp_addr + ' ' + dto.emp_addr_detail}"
													class="tight-line"></p>
											</td>
										</tr>
										<tr>
											<th>부서</th>
											<td th:text="${empDeptName}"></td>
										</tr>
										<tr>
											<th>팀</th>
											<td th:text="${dto.group_name}"></td>
										</tr>
										<tr>
											<th>직급</th>
											<td th:text="${dto.emp_job_name}"></td>
										</tr>
										<tr>
											<th>휴대전화</th>
											<td th:text="${dto.emp_phone}"></td>
										</tr>
										<tr>
											<th>내선번호</th>
											<td th:text="${dto.emp_desk_phone}"></td>
										</tr>
										<tr>
											<th>이메일</th>
											<td th:text="${dto.emp_email}"></td>
										</tr>
										<tr>
											<th>입사일</th>
											<td
												th:text="${dto.emp_hiredate}"></td>
										</tr>
										<tr th:if="${dto.emp_resign.toUpperCase() == 'Y'}">
											<th>퇴사일</th>
											<td th:text="${dto.emp_resigndate}"></td>
										</tr>
									</table>
								</div>
							</div>
							<div class="d-flex align-items-center" style="display: flex; justify-content: flex-end;">
								<a th:href="@{/employeeUpdate/{emp_code}(emp_code=${dto.emp_code})}">
									<button type="button" class="btn btn-primary rounded-pill">정보 수정</button>
								</a>
								<a th:href="@{/employeeDelete/{emp_code}(emp_code=${dto.emp_code})}">
									<button type="button" class="btn btn-secondary rounded-pill" style="margin-left: 10px;">퇴사 처리</button>
								</a>
							</div>
						</div>
					</div>

					
					
					<div class="tab-pane fade profile-edit pt-3" id="profile-edit">
						<table class="table datatable">
							<thead>
								<tr>
									<th>연도</th>
									<th>월</th>
									<th>일</th>
									<th>출근 시간</th>
									<th>퇴근 시간</th>
									<th>근무 시간</th>
									<th>근무 상태</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="dto:${attnDtoList}">
									<td th:text="${#temporals.format(dto.attn_start, 'yyyy')}"></td>
									<td th:text="${#temporals.format(dto.attn_start, 'MM')}"></td>
									<td th:text="${#temporals.format(dto.attn_start, 'dd')}"></td>
									<td th:text="${#temporals.format(dto.attn_start, 'HH:mm')}"></td>
									<td th:text="${#temporals.format(dto.attn_end, 'HH:mm')}"></td>
									<td th:text="${dto.calc_worktime}"></td>
									<td th:text="${dto.attn_status}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				</div>
				</div>
				</div>
			</section>
		</main>
	<script>

	</script>
	</th:block>
	<!-- ======= Footer ======= -->
	<footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
	<div class="credits">
      All the links in the footer should remain intact.
      You can delete the links only if you purchased the pro version.
      Licensing information: https://bootstrapmade.com/license/
      Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
	</footer>
	<!-- End Footer -->
	<a href="#"
		class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>
</body>
</html>