<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{include/layout}">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Connect Caffeine</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Favicons -->
  <link href="/bootstrap/img/쿼카.png" rel="icon">
  <link href="/bootstrap/img/쿼카.png" rel="쿼카">
  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CNunito:300,300i,400,400i,600,600i,700,700i%7CPoppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="/bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bootstrap/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/bootstrap/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/bootstrap/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/bootstrap/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/bootstrap/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/bootstrap/vendor/simple-datatables/style.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="/bootstrap/css/style.css" rel="stylesheet">
  <style>
  	.card-body-header {
		display: flex;
		justify-content: space-between;
  	}
  	
  	.basic-info {
	    display: flex;
	    width: 100%;
	}
	
	.basic-info-left {
	    flex: 0 0 40%; 
	    padding: 10px;
	    box-sizing: border-box;
	    position: relative;
	}
	
  	#emp_profile_img{
  		position: absolute;
	    top: 0;
	    left: 60%;
	    transform: translateX(-50%); 
	    width: 200px;
	    height: 200px;
  	}
	
	.basic-info-right {
	    flex: 0 0 60%;
	    padding: 10px;
	    box-sizing: border-box;
	}
  </style>
</head>
<body>
 <th:block layout:fragment="content">
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>인사 관리</h1>
    </div><!-- End Page Title -->
    <section class="section dashboard">
      <div class="row">
        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">
            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card" style="margin-top: 25px; width: 80vw; height: 90vh;">
                <div class="card-body">
                	<div class="card-body-header">
	                  <h2 class="card-title">사원 정보</h2>
	                  <div>
	                  	<button class="btn btn-primary rounded-pill" style="margin-top: 20px;"
	                  	th:onclick="|location.href='@{/employeeCreate}'|">등록</button>
	                  </div>
                	</div>
                	<hr>
	                <div class="basic-info">
	                  <div class="basic-info-left">
	                  	<img src="/bootstrap/img/이제훈_프로필.png" alt="Profile" id="emp_profile_img" class="rounded-circle">
	                  </div>
	                  <div class="basic-info-right">
		              	<table class="table table-bordered">
		              		  <colgroup>
							    <col style="width: 40%;">
							    <col style="width: 60%;">
							  </colgroup>
							<tr>
							   <th>이름</th>
							   <td th:text="${dto.emp_name}"></td>
							</tr>
							<tr>
							   <th>사원 번호</th>
							   <td th:text="${dto.emp_account}"></td>
							</tr>
							<tr>
							   <th>생년월일</th>
							   <td th:text="${dto.emp_reg_no}"></td>
							</tr>
							<tr>
							   <th>주소</th>
							   <td th:text="${dto.emp_addr} ${dto.emp_addr_detail}"></td>
							</tr>
							<tr>
							   <th>부서</th>
							   <td th:text="${dto.emp_group_no}"></td>
							</tr>
							<tr>
							   <th>팀</th>
							   <td th:text="${dto.emp_group_no}"></td>
							</tr>
							<tr>
							   <th>직급</th>
							   <td th:text="${dto.job_code}"></td>
							</tr>
							<tr>
							   <th>휴대전화</th>
							   <td th:text="${dto.emp_phone}"></td>
							</tr>
							<tr>
							   <th>내선번호</th>
							   <td th:text="${dto.emp_desk_phone}"></td>
							</tr>
							<tr>
							   <th>이메일</th>
							   <td th:text="${dto.emp_email}"></td>
							</tr>
							<tr>
							   <th>입사일</th>
							   <td th:text="${dto.emp_hiredate}"></td>
							</tr>
		              	</table>
	                  </div>
	                  </div>
	                  <div class="d-flex align-items-center" style="display: flex; justify-content: flex-end;">
	                    <button type="button" class="btn btn-primary rounded-pill"
	                    th:onclick="|location.href='@{/update}'|">수정</button>
	                  </div>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div><!-- End Left side columns -->
	      </div>
    </section>
  </main><!-- End #main -->
</th:block>
  <!-- ======= Footer ======= -->
<!--   <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
	<div class="credits">
      All the links in the footer should remain intact.
      You can delete the links only if you purchased the pro version.
      Licensing information: https://bootstrapmade.com/license/
      Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div> -->
  </footer><!-- End Footer -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <!-- Vendor JS Files -->
  <script src="/bootstrap/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/bootstrap/vendor/chart.js/chart.umd.js"></script>
  <script src="/bootstrap/vendor/echarts/echarts.min.js"></script>
  <script src="/bootstrap/vendor/quill/quill.js"></script>
  <script src="/bootstrap/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/bootstrap/vendor/tinymce/tinymce.min.js"></script>
  <script src="/bootstrap/vendor/php-email-form/validate.js"></script>
  <!-- Template Main JS File -->
  <script src="/bootstrap/js/main.js"></script>
</body>
</html>