<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{include/layout}">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>Connect Caffeine</title>
<meta content="" name="description">
<meta content="" name="keywords">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
.sub-sidebar {
	width: 250px;
	background-color: #fff;
	padding: 20px;
	font-size: 15px;
	font-weight: 600;
	color: #012970;
}

.subside_title {
	font-size: 25px;
}

.card-body-header {
	display: flex;
	justify-content: space-between;
}

.basic-info {
	display: flex;
	width: 100%;
}

.basic-info-left {
    flex: 0 0 40%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    position: relative; 
}

#emp_profile_img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    display: inline-block; 
    margin-top: 20px;
}

.basic-info-right {
	flex: 0 0 60%;
	padding: 10px;
	box-sizing: border-box;
}

.tight-line {
	line-height: 1.2;
	margin: 0;
}

table td, table th {
    vertical-align: middle; 
}
</style>
</head>
<body>
	<th:block layout:fragment="content">
		<main id="main" class="main">
			<!-- <div class="pagetitle">
      <h1>인사 관리</h1>
    </div>End Page Title -->
			<div class="sub-sidebar" id="sub-sidebar">
				<span class="subside_title">인사 관리</span><br> <br>
				<h5><a th:href="@{/employeeList}" style="color: inherit;">사원 정보</a></h5>
				<h5><a th:href="@{/empGroupList}" style="color: inherit;">팀 정보</a></h5>
			</div>
			<section class="section dashboard" style="width: calc(100% - 250px);">
				<div class="col-xxl-4 col-md-6" style="width: 100%;">
					<div class="card info-card sales-card"
						style="margin-top: 25px; margin-left: 25px;">
						<div class="card-body">
							<div class="card-body-header">
								<h2 class="card-title"><b>사원 정보 수정</b></h2>
							</div>
							<hr>
							<form id="empUpdateFrm" method="POST" th:object="${dto}"
								action="/employee" enctype="multipart/form-data">
								<input type="hidden" id="_csrf" name="_csrf"
									th:value="${_csrf.token}" /> <input type=hidden
									name="emp_code" th:value="${dto.emp_code}">
								<div class="basic-info">
									<div class="basic-info-left">
										<img th:src="@{'/uploadImg/'+${dto.emp_img_file_path}}" alt="Profile" id="emp_profile_img" class="rounded-circle"/>
									</div>
									<div class="basic-info-right">
										<table class="table table-bordered" id="employeeTable">
											<colgroup>
												<col style="width: 40%;">
												<col style="width: 60%;">
											</colgroup>
											<tr>
												<th>이름</th>
												<td><span th:text="${dto.emp_name}"></span> 
													<input type="hidden" name="emp_name" id="emp_name" th:value="${dto.emp_name}">
												</td>
											</tr>
											<tr>
												<th>사원 번호</th>
												<td><span th:text="${dto.emp_account}"></span> <input
													type="hidden" name="emp_account" id="emp_account"
													th:value="${dto.emp_account}"> <input type="hidden"
													name="emp_pw" id="emp_pw" th:value="${dto.emp_pw}">
												</td>
											</tr>
											<tr>
												<th>생년월일</th>
												<td><span th:text="${formattedRegNo}"></span> <input
													type="hidden" name="emp_reg_no" id="emp_reg_no"
													th:value="${dto.emp_reg_no}"></td>
											</tr>
											<tr>
												<th>주소</th>
												<td><input type="text" class="form-control"
													id="emp_postcode" name="emp_postcode"
													th:field="*{emp_postcode}" style="display: inline-block;">
													<button type="button" th:onclick="execDaumPostcode()"
														class="btn btn-warning rounded-pill"
														style="height: 30px; font-size: 13px;">우편번호 찾기</button> <br>
													<input type="text" class="form-control" id="emp_addr"
													name="emp_addr" th:field="*{emp_addr}"
													style="display: inline-block;"> <input type="text"
													class="form-control" id="emp_addr_detail"
													name="emp_addr_detail" th:field="*{emp_addr_detail}"
													style="display: inline-block;"></td>
											</tr>
											<tr>
												<th>부서</th>
												<td><select id="emp_dept" name="emp_dept"
													class="form-select" aria-label="Select department">
														<option th:each="dept:${groupList}"
															th:value="${dept.group_no}" th:text="${dept.group_name}"
															th:selected="${empDeptName == dept.group_name}"
															th:if="${dept.group_parent_no == null}"></option>
												</select></td>
											</tr>
											<tr>
												<th>팀</th>
												<td><select id="group_no" name="group_no"
													class="form-select" aria-label="Select team">
														<option th:each="team:${groupList}"
															th:value="${team.group_no}" th:text="${team.group_name}"
															th:selected="${team.group_name == dto.group_name}"
															th:if="${team.group_parent_no != null}"
															th:data-parent-no="${team.group_parent_no}"></option>
												</select></td>
											</tr>
											<tr>
												<th>직급</th>
												<td><select id="job_code" name="job_code"
													class="form-select" aria-label="select job">
														<option th:each="j:${jobList}" th:value="${j.job_code}"
															th:text="${j.job_name}"
															th:selected="${j.job_name == dto.emp_job_name}"
															th:if="${j.job_code != 'J1'} and ${j.job_code != 'J2'}">
														</option>
												</select></td>
											</tr>
											<tr>
												<th>휴대전화</th>
												<td><input type="text" class="form-control"
													id="emp_phone" name="emp_phone" th:field="*{emp_phone}">
												</td>
											</tr>
											<tr>
												<th>내선번호</th>
												<td><input type="text" class="form-control"
													id="emp_desk_phone" name="emp_desk_phone"
													th:field="*{emp_desk_phone}"></td>
											</tr>
											<tr>
												<th>이메일</th>
												<td><input type="email" class="form-control"
													id="emp_email" name="emp_email" th:field="*{emp_email}">
												</td>
											</tr>
											<tr>
												<th>입사일</th>
												<td><span
													th:text="${dto.emp_hiredate}"></span>
													<input type="hidden" name="emp_hiredate" id="emp_hiredate"
													th:value="${dto.emp_hiredate}"></td>
											</tr>
										</table>
									</div>
								</div>
								<div class="d-flex align-items-center"
									style="display: flex; justify-content: flex-end;">
									<button type="submit" class="btn btn-primary rounded-pill">완료</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
		</main>
		<!-- End #main -->
		<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
		<script>
	//1. 이미지 업로드
		/* document.getElementById('emp_profile_img').addEventListener('click', function() {
			document.getElementById('emp_img_file_name').click();
			console.log(typeof(document.getElementById('emp_img_file_name').value));
		}); */
		
	
	// 2. 주소 등록
	function execDaumPostcode() {
		
      new daum.Postcode({
          oncomplete: function(data) {
              // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

              // 각 주소의 노출 규칙에 따라 주소를 조합한다.
              // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기한다.
              var addr = ''; // 주소 변수
              var extraAddr = ''; // 참고항목 변수

              //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
              if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                  addr = data.roadAddress;
              } else { // 사용자가 지번 주소를 선택했을 경우(J)
                  addr = data.jibunAddress;
              }

              // 사용자가 선택한 주소가 도로명 타입일 때 참고 항목을 조합한다.
              if(data.userSelectedType === 'R'){
                  // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                  // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                  if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                      extraAddr += data.bname;
                  }
                  // 건물명이 있고, 공동 주택일 경우 추가한다.
                  if(data.buildingName !== '' && data.apartment === 'Y'){
                      extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                  }
                  // 표시할 참고 항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                  if(extraAddr !== ''){
                      extraAddr = ' (' + extraAddr + ')';
                  }
                  // 조합된 참고 항목을 해당 필드에 넣는다.
                  //document.getElementById("sample6_extraAddress").value = extraAddr;
              
              } else {
                  //document.getElementById("sample6_extraAddress").value = '';
              }

              // 우편번호와 주소 정보를 해당 필드에 넣는다.
              document.getElementById('emp_postcode').value = data.zonecode;
              document.getElementById("emp_addr").value = addr;
              // 커서를 상세 주소 필드로 이동한다.
              document.getElementById("emp_addr_detail").focus();
	          }
	      }).open();
	  }

	
	// 3. 부서, 팀 selected & 초기화
	document.getElementById("emp_dept").addEventListener("change", function() {
	    var selectedDept = this.value;  // 선택한 부서 번호
	    var teamSelect = document.getElementById("group_no");  // 팀 select 요소
	    var options = teamSelect.querySelectorAll("option");
	
	    // 팀 목록 초기화
	    options.forEach(function(option) {
	        // 모든 팀 숨기기
	        option.style.display = "none";
	        
	        // 선택한 부서에 해당하는 팀만 표시
	        if (option.getAttribute("data-parent-no") === selectedDept) {
	            option.style.display = "block";
	        }
	    });
	});

	
	// 4. 수정 처리
	const form = document.getElementById("empUpdateFrm");
	form.addEventListener('submit', (e) => {
		e.preventDefault();
		
	    // 입력 값 가져오기
	    const empCode = document.getElementById("emp_code").value;
	    const empName = document.getElementById("emp_name").value;
	    const empAccount = document.getElementById("emp_account").value;
	    const empPw = document.getElementById("emp_pw").value;
	    const empRegNo = document.getElementById("emp_reg_no").value;
	    const empPostcode = document.getElementById("emp_postcode").value;
	    const empAddr = document.getElementById("emp_addr").value;
	    const empAddrDetail = document.getElementById("emp_addr_detail").value;
	    const empDept = document.getElementById("emp_dept").value;
	    const empTeam = document.getElementById("group_no").value;
	    const jobCode = document.getElementById("job_code").value;
	    const empPhone = document.getElementById("emp_phone").value;
	    const empDeskPhone = document.getElementById("emp_desk_phone").value;
	    const empEmail = document.getElementById("emp_email").value;
	    const empHiredate = document.getElementById("emp_hiredate").value;
	    
	    // 유효성 검사
	    let vali_check = false;
	    let vali_text = "";
	    
	    if(empPostcode === ""){
	    	vali_text += '주소를 입력하세요.\n';
	    	form.emp_postcode.focus();
	    } else if (empPhone === "") {
	        vali_text += '휴대전화 번호를 입력하세요.\n';
	        form.emp_phone.focus();
	    } else if (!/^01[0-9]-\d{3,4}-\d{4}$/.test(empPhone)) {
	        vali_text += '휴대전화 번호를 알맞은 형태로 입력하세요.\n';
	        form.emp_phone.focus();
	    } else if (empDeskPhone === "") {
	        vali_text += '내선 번호를 입력하세요.\n';
	        form.emp_desk_phone.focus();
	    } else if (!/^(02|0\d{2})-\d{3,4}-\d{4}$/.test(empDeskPhone)) {
	        vali_text += '내선 번호를 알맞은 형태로 입력하세요.\n';
	        form.emp_desk_phone.focus();
	    } else if (empEmail === "") {
	        vali_text += '이메일을 입력하세요.\n';
	        form.emp_email.focus();
	    } else{
	    	vali_check = true;
	    }
	    
	 	// 유효성 검사 실패하면 실행 중단
	    if (!vali_check) {
	        alert(vali_text)
	        return; 
	    }
	    
	    // 객체 생성
	    const obj = {
	    	 emp_code: empCode,
    		 emp_name: empName,
             emp_account: empAccount,
             emp_pw: empPw,
             emp_reg_no: empRegNo,
             emp_postcode: empPostcode,
             emp_addr: empAddr,
             emp_addr_detail: empAddrDetail,
             group_no: empTeam,
             emp_job_code: jobCode,
             emp_phone: empPhone,
             emp_desk_phone: empDeskPhone,
             emp_email: empEmail,
             emp_hiredate: empHiredate,
             emp_resign: 'n'
      };
	        
		const csrfToken = document.getElementById("_csrf").value;
		
      fetch('/employeeUpdate/'+empCode, {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json;charset=utf-8',
              "Accept": "application/json",
              'X-CSRF-TOKEN': csrfToken
              
          },
          body: JSON.stringify(obj)
      })
      .then(response => response.json())
      .then(data => {
          if (data.res_code === '200') {
              Swal.fire({
                  icon: 'success',
                  title: '성공',
                  text: data.res_msg,
                  confirmButtonText: "닫기"
              }).then((result) => {
                  location.href = "/employeeList";
              });
          } else {
              Swal.fire({
                  icon: 'error',
                  title: '실패',
                  text: data.res_msg,
                  confirmButtonText: "닫기"
              });
          }
      });
	});
  </script>
	</th:block>
	<!-- ======= Footer ======= -->
	<footer id="footer" class="footer">
		<div class="copyright">
			&copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights
			Reserved
		</div>
		<div class="credits">
			All the links in the footer should remain intact. You can delete the
			links only if you purchased the pro version. Licensing information:
			https://bootstrapmade.com/license/ Purchase the pro version with
			working PHP/AJAX contact form:
			https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
			Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
		</div>
		-->
	</footer>
	<!-- End Footer -->
	<a href="#"
		class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>
	<!-- Vendor JS Files -->
	<script src="/bootstrap/vendor/apexcharts/apexcharts.min.js"></script>
	<script src="/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/bootstrap/vendor/chart.js/chart.umd.js"></script>
	<script src="/bootstrap/vendor/echarts/echarts.min.js"></script>
	<script src="/bootstrap/vendor/quill/quill.js"></script>
	<script src="/bootstrap/vendor/simple-datatables/simple-datatables.js"></script>
	<script src="/bootstrap/vendor/tinymce/tinymce.min.js"></script>
	<script src="/bootstrap/vendor/php-email-form/validate.js"></script>
	<!-- Template Main JS File -->
	<script src="/bootstrap/js/main.js"></script>
</body>
</html>