@charset "UTF-8";


.apprSidebar {
    position: fixed;
    top: 60px;
    left: 300px;
    bottom: 0;
    width: 250px;
    z-index: 995;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    background-color: #f4f6f9;
    flex-grow: 1;
}

.sign-form {
    width: 80%; /* 부모 컨테이너에 맞게 100% 사용 */
    /* max-width: 700px; 최대 너비 설정 */
    /* margin: 200px; 가운데 정렬 */
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin-left:255px;
    margin-top: 20px;
    height: 650px;
    
    
}



/* form-header 스타일 */
.form-header {
    display: flex;
    justify-content: flex-start; /* 제목을 왼쪽으로 정렬 */
    align-items: center;
    margin-left: 100px; /* 제목이 더 왼쪽으로 가도록 여백 조정 */
    margin-top: 20px; /* 상단 여백 */
    width: 100%;
}

/* form-header h1 스타일 */
.form-header h1 {
    font-size: 25px; /* 폰트 크기를 25px로 설정 */
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #0c63e4;
    font-family: 'Noto Sans KR', sans-serif;
}
/* 서명 패드 컨테이너 */
.signature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 750px; /* 서명 패드보다 넓게 설정 */
    margin-top: 50px; /* 서명 패드를 아래로 이동 */
    margin-left: auto;
    margin-right: auto;
}

/* 서명 캔버스 */
.signature-container canvas {
    border: 2px solid #ccc;
    /* width: 100%; 이 부분을 제거하여 HTML 속성으로 설정된 크기가 반영되도록 합니다. */
    height: auto; /* 높이는 자동으로 부모 컨테이너에 맞게 설정 */
    background-color: #f9f9f9;
    border-radius: 5px;
}


/* 버튼 스타일 */
.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.button-container button {
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.button-container .save-btn {
    background-color: #4A90E2;
    color: white;
    transition: background-color 0.3s ease;
}

.button-container .save-btn:hover {
    background-color: #357ABD;
}

.button-container .cancel-btn {
    background-color: #E0E0E0;
    color: black;
    transition: background-color 0.3s ease;
}

.button-container .cancel-btn:hover {
    background-color: #C0C0C0;
}
